.about {
    display: flex;
    flex-direction: column;
    gap: 20px;
    scroll-behavior: smooth;

    .top {
        display: flex;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .image {
            img {
                width: 90vw;
                height: 500px;
            }
        }

        h1 {
            font-size: 14rem;
            color: #28282A;
            text-align: center;
            width: 90vw;
            margin: 0;
            text-transform: uppercase;
            font-family: "Archivo";
            font-weight: 900;
            letter-spacing: -19px;
        }
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 20px;
        margin: 80px 80px 80px 80px;

        .left {
            display: flex;
            // justify-content: flex-start;

            .image {
                img {
                    height: 700px;
                    width: 500px;

                }
            }
        }

        .right {
            display: flex;

            // justify-content: flex-end;

            .about-description {
                max-width: 30rem;
                display: flex;
                flex-direction: column;
                gap: 20px;

                h1 {
                    margin: 0;
                    text-transform: uppercase;
                    font-family: "Archivo";
                    font-weight: 900;
                    letter-spacing: -2px;
                    color: #28282A;
                    font-size: 35px;

                }

                p {
                    font-family: "Inconsolata";
                    font-size: 15px;
                    line-height: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .about {
        .top {
            h1 {
                font-size: 4.2rem;
                letter-spacing: -6px;
            }
        }

        .bottom {
            flex-direction: column;
            gap: 40px;
            margin: 0px 40px 60px 40px;

            .left {
                display: flex;
                justify-content: center;
                align-items: center;

                .image {
                    img {
                        height: 130vw;
                        width: 80vw;
                    }
                }
            }

            .right {
                .about-description {
                    max-width: 20rem;
                }
            }
        }
    }
}