.product-page {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    margin: 50px 80px 80px 80px;
    gap: 5rem;

    .product-nav {
        display: flex;
        flex-direction: row;
        gap: 15px;

        a {
            text-decoration: none;
            color: #000;
            font-family: "Inconsolata";
            font-size: 15px;
        }

        span{
            font-size: 12px;
            display: flex;
            align-self: center;
          
        }
    }

    .product-description {
        position: sticky;
        top: 30px;
        max-height: calc(100vh - 80px);
        overflow-y: auto;
    }

    .first-section {
        display: flex;
        flex-direction: row;

        .left {
            display: flex;
            justify-content: flex-start;
            flex: 1;

            .images {

                img {
                    height: 790px;
                    width: 540px;
                }
            }
        }

        .right {
            flex: 1;
            display: flex;
            justify-content: flex-end;


            h1 {
                font-size: 40px;
                font-family: "Archivo";
                letter-spacing: -2px;
                font-weight: 900;
                text-transform: uppercase
            }

            .product-price {
                font-weight: 400;
                font-size: 25px;
                font-family: "Inconsolata";
            }

            .product-text {
                max-width: 30rem;
                font-size: 15px;
                line-height: 25px;
                font-family: "Inconsolata";
                margin-bottom: 30px;
            }

            .size-selection {
                display: flex;
                flex-direction: column;
                // width: 15rem;
                margin-bottom: 25px;
                gap: 10px;

                label {
                    text-transform: uppercase;
                    font-family: "Archivo";
                    letter-spacing: -1px;
                }

                select {
                    width: 30rem;
                    height: 3rem;
                    padding: 15px;
                    border: 1px solid #000;
                    background-color: #fff;
                    font-size: 15px;
                    font-family: "Inconsolata";
                }
            }

            .quantity-selection {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                gap: 10px;
                margin-top: 20px;

                label {
                    text-transform: uppercase;
                    font-family: "Archivo";
                    letter-spacing: -1px;
                }

                .quantity-input {
                    height: 55px;
                    width: 80px;
                    padding: 15px;
                    border: 1px solid #000;
                    font-family: "Inconsolata";
                }
            }

            .cart-btn {
                display: flex;

                button {
                    width: 30rem;
                    padding: 15px;
                    margin-top: 20px;
                    color: #fff;
                    background-color: #000;
                    border: none;
                    font-weight: 800;
                    font-size: 15px;
                    font-family: "Inconsolata";
                    cursor: pointer;
                }
            }
        }
    }

    .second-section {
        display: flex;
        flex-direction: row;

        .left {
            flex: 1;
            display: flex;
            justify-content: flex-start;

            h1 {
                font-size: 40px;
                font-family: "Archivo";
                text-transform: uppercase;
                font-weight: 900;
                letter-spacing: -2px;
            }

            .product-text {
                max-width: 30rem;
                font-size: 15px;
                line-height: 25px;
                font-family: "Inconsolata";
            }
        }

        .right {
            flex: 2;
            display: flex;
            justify-content: flex-end;

            .image {

                img {
                    height: 790px;
                    width: 540px;
                }
            }
        }
    }
}