.card-link{
    text-decoration: none;



    .card{
        display: flex;
        flex-direction: column;
        gap: 10px;
       
        img{
            height: 360px;
            width: 240px;
        }
    
        .product-info{
            display: flex;
            flex-direction: column;
            color: #000;
            gap: 5px;
            margin-top: 10px;
    
            p{
                font-family: "Inconsolata";
                margin: 0;
            }
    
            span{
                font-family: "Inconsolata";
                font-weight: 800;
            }
        }
    }
}

