.products {
  display: flex;
  justify-content: space-between;
  margin: 80px 50px 80px 50px;

  .left {
    flex: 1;
    display: flex;
    justify-content: flex-start;

    .categories {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .category-link {
        color: #000;
        text-decoration: none;
        font-family: "Inconsolata";
        text-transform: capitalize;

        &.selected {
          font-weight: 800;
        }
      }
    }
  }

  .right {
    flex: 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .products {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 3rem;
    margin: 40px 40px 80px 40px;

    .left {
      display: flex;
      justify-content: center;

      .categories {
        display: flex;
        flex-direction: row;
      }
    }

    .right {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}