.footer{
    padding: 50px;
    background-color: #28282A;
    // position: fixed;
    bottom: 0;
    width: 100%;


    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;     

        .left{
            flex: 1;

            span{
                max-width: 20rem;
                line-height: 18px;
            }
        }

        .right{
            flex: 1;
            display: flex;
            justify-content: flex-end;
            gap: 3rem;

            span{
                text-decoration: underline;
                text-underline-offset: 3.13px;
            }

            .item{
                width: 145px;
                cursor: pointer;
            }
        }

        .item{
            display: flex;
            flex-direction: column;
            color: #ececec;

            p{
                margin-bottom: 20px;
                font-family: "Archivo", sans-serif;
                font-size: 14px;
                font-weight: 800;
                letter-spacing: -1.28px;
                text-transform: uppercase;
            }

            span{
               margin-bottom: 5px;
               font-size: 13px;
               font-family: "Inconsolata", monospace;
            }
        }
    }
}