.slider{
    height: calc(100vh - 70px);
    width: 100vw;
    position: relative;
    overflow: hidden;

    .container{
        width: 400vw;
        height: 100%;
        display: flex;
        transition: all 1s ease;
    
        img{
            width: 100vw;
            height: 100%;
            object-fit: cover;
        }
    }

    .icons {
        position: absolute;
        display: flex;
        bottom: 50%;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    
        .icon {
          width: 150px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
      }


    .slider-number{
        position:absolute;
        right: 70px;
        bottom: 20px;       

        p{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-size: 20px;
            font-family: "Inconsolata", monospace;
            color: #ececec;
        }
    }
}