.navbar{
    height: 70px;
    border-bottom: 1px solid black;

    .wrapper{
        padding: 25px 40px;
        display: flex;
        justify-content: space-between;        

        .item {
            display: flex;
            font-size: 15px;
            align-items: center;
           
     
        }
    
        .navbar-left{
            display: flex;
            align-items: center;
            gap: 20px;
            flex: 1;
        }

        .navbar-center{
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
        }
        
        .navbar-right{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex: 1;

            .cart-icon{
                position: relative;
                color: black;

                span{
                    position: absolute;
                    border-radius: 50%;
                    height: 20px;
                    width: 20px;
                    background-color: #28282A;
                    font-size: 13px;
                    right: -14px;
                    top: -10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                }
            }
        }

        .nav-link{
            color: black;
            text-decoration: none;
        }

        .activated{
            text-decoration: underline;
        }

        
    }
}